* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
.wrapper {
  
    background-color: black;
}
a {
    text-decoration: none;
    
}

.cards {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    column-gap: 24px;
}

.card {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: yellow;
    border-radius: 6px;
    border: 1px solid yellow;
}

.card:hover {
    transform: translateY(-2px);
    transition: all 0.2s ease-in;
    background-color: white;
    
}